.arrow-closed,
.arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}

.arrow-closed {
  top: 16px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-open {
  top: 20px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.ghostcls {
  /*visibility: hidden;*/
  color: transparent !important;
  border: 1px dashed black !important;
  background-color: #ffffaa !important;
}

.ghostcls div {
  visibility: hidden;
}

.dragcls {
  /*background-color: red;
  background-image: linear-gradient(red, #f06d06);
  border: 10px solid blue !important;*/
  opacity: 1 !important;
}

.chosencls {
  /*background-color: yellow !important;
  border: 1px solid blue !important;*/
}

.caret {
  width: 10px !important;
  position: relative !important;
  left: 4px !important;
  top: 1px !important;
}
